<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../layouts/head') %>

    <title>Document</title>
</head>
<body>
    <main>
        <nav>
            <h1>Best Books!</h1>
          </nav>
          <div class="sub-title">
              <% searchResults.forEach(item => { %>
              <h3>Your Search Results</h3>
          </div>

          <ul>
            <div class="book-item">
                <li>
                    <img class="book-img-small" src="<%=item.image_url%>">
                    </li>
                    <li class="book-title"><%= item.title %></li>
                    <li class="book-author"><%= item.authors %></li>
                    <li class="book-description"><%= item.description %></li>
                    <button id="update-button" type="submit">Add to Collection</button>
            </div>
                
                <form id="create-form" action="/books" method="post">
                  <input type="text" name="title" value="<%= item.title %>" required>
                  <input type="text" name="author" value="<%= item.authors %>" required>
                  <input type="text" name="isbn" value="<%= item.isbn %>" required>
                  <input type="text" name="image_url" value="<%= item.image_url %>" required>
                  <input type="text" name="description" value="<%= item.description %>" required>
                  <input type="text" name="bookshelf" required>
                  <button class="button" type="submit">Add to database</button>
                </form>
              <% }) %>
        
            </ul>

    <!-- </main> -->
    <%- include('../../layouts/footer') %>
</body>
</html>