<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Book Collection</title>
    <link rel="stylesheet" href="styles/reset.css" />
    <link rel="stylesheet" href="styles/base.css" />
    <link rel="stylesheet" href="styles/layout.css" />
    <link rel="stylesheet" href="styles/modules.css" />
    <link rel="stylesheet" href="styles/icons.css" />
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Rubik&display=swap" rel="stylesheet">
  </head>
  <body>
    <main>
        
      <nav>
        <h1>Best Books!</h1>
      </nav>

      <div class="sub-title">
          <h3><%= results.length %> Saved Books</h3>
      </div>


      <section class="book-view container">
          <ul id="book-list">
            <% results.forEach(book => { %>
              <li class="book-item" data-id="<%= book.id %>">

                <img src="<%=book.image_url%>">
                <h4 class="book-title"><%= book.title %></h4>
                <p class="book-author"><%= book.author %></p>
              
                <a class="view-details-button" href="/books/detail<%= book.id%>"</a>View Details</a>
              </li>
            <% }) %>
          </ul>
      </section>

    </main>
  </body>
</html>
