<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Book Collection</title>
    <link rel="stylesheet" href="styles/reset.css" />
    <link rel="stylesheet" href="styles/base.css" />
    <link rel="stylesheet" href="styles/layout.css" />
    <link rel="stylesheet" href="styles/modules.css" />
    <link rel="stylesheet" href="styles/icons.css" />
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Rubik&display=swap" rel="stylesheet">
  </head>
  <body>
    <main>
        
      <nav>
        <h1>Best Books!</h1>
      </nav>

      <h3>Number of Books: <%= results.length %></h3>

      <section class="book-view container">
          <ul id="book-list">
            <% results.forEach(book => { %>
              <li class="book-item" data-id="<%= book.id %>">
                
                <h4>Title: <%= book.title %></h4>
                <p>Author: <%= book.author %></p>
                <img src="<%=book.image_url%>">
              
                <a href="/books/detail<%= book.id%>"</a>View Details</a>
              </li>
            <% }) %>
          </ul>
      </section>

    </main>
  </body>
</html>
