<!DOCTYPE html>
<html lang="en">
  <head>
      <%- include('../layouts/head') %>
  </head>
  <body>
    <main>
        <%- include('../layouts/header') %>
      <section class="book-view container">
          <ul id="book-list">
            <% results.forEach(book => { %>
              <li class="book-item" data-id="<%= book.id %>">

                <img src="<%=book.image_url%>">
                <h4 class="book-title"><%= book.title %></h4>
                <p class="book-author"><%= book.author %></p>
              
                <a class="button" href="/books/<%= book.id%>"</a>View Details</a>
              </li>
            <% }) %>
          </ul>
      </section>

    </main>
    <%- include('../layouts/footer') %>
  </body>
</html>
